<!-- Page header -->
<div class="page-header page-header-light">
    <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
        <div class="d-flex">
            <div class="breadcrumb">
                <a href="/" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                <a href="/committee" class="breadcrumb-item"> Committee</a>
                <span class="breadcrumb-item active">Assign Committee</span>
            </div>
            <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
        </div>
    </div>
</div>
<!-- /page header -->

<!-- Content area -->
<div class="content">

    <!-- Style combinations -->
    <div class="card">
        <div class="card-header header-elements-inline">
            <h5 class="card-title">Assign Member list</h5>
        </div>

        <div class="card-body">
            <button onclick="location.href='/committee/assign_committee/add?id=<%=id%>'" type="button" class="btn btn-primary">
                <i class="icon-plus2  mr-2"></i>
                Member Assign
            </button>
        </div>

        <table id="list" class="table datatable-basic table-bordered table-striped table-hover">
            <thead>
            <tr>
                <th>Committee Name</th>
                <th>Member Name</th>
                <th>Designation Name</th>
                <th class="text-center">Actions</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>

    </div>
    <!-- /style combinations -->

    <input hidden="hidden" id="c_id" value="<%=id%>"/>


</div>
<!-- /content area -->


<script>
    $(document).ready(function() {

        function dataLoad() {
            $('#list').DataTable( {
                "processing": true,
                "serverSide": true,
                "ordering": false,
                "search": true,
                "destroy": true,
                "pageLength": 50,
                "language": {
                    "searchPlaceholder": "Filter by member name"
                },
                "ajax": {
                    "url": "/committee/assign_committee/data_list/?id="+$('#c_id').val(),
                    "type": "POST",
                    "datatype": "json",
                },
                "columns": [
                    { "data": "committee_name" },
                    { "data": "name" },
                    { "data": "designation_name" },
                    { "data": "action" },
                ]
            });
        }

        dataLoad();

        // Custom bootbox dialog with form
        $("#list").on('click', '#delete', function () {
            var delid = $(this).attr('data-delete-id');
            bootbox.confirm({
                title: 'Delete',
                message: 'Do you want to delete?',
                buttons: {
                    confirm: {
                        label: 'Yes',
                        className: 'btn-primary'
                    },
                    cancel: {
                        label: 'No',
                        className: 'btn-link'
                    }
                },
                callback: function (result) {
                    if (result) {
                        $.ajax({
                            type: "post",
                            url: "/committee/assign_committee/del",
                            data: { del_id: delid },
                            datatype: "json",
                            traditional: true,
                            success: function (data) {
                                if (data.success) {
                                    window.location.href = "/committee/assign_committee?id="+$('#c_id').val();
                                } else {
                                    bootbox.alert({
                                        title: 'Delete Faild!',
                                        message: data.message
                                    });
                                }
                            }
                        });
                    }
                }
            });
        });


        $("#filter").click(function(){
            dataLoad();
        });


    });
</script>
