<!-- Footer -->
<div class="navbar navbar-expand-lg navbar-light">
    <div class="text-center d-lg-none w-100">
        <button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse"
            data-target="#navbar-footer">
            <i class="icon-unfold mr-2"></i>
            Footer
        </button>
    </div>

    <div class="navbar-collapse collapse" id="navbar-footer">
        <div class="d-flex flex-column flex-lg-row w-100 justify-content-between align-items-lg-center">
            <span class="navbar-text mb-2 mb-lg-0">
                Developed by <a href="#" target="_blank">XYZ</a>
            </span>
            <div class="admin-footer-links">
                <a href="#" class="mr-3">Privacy Policy</a>
                <a href="#" class="mr-3">Terms of Service</a>
                <a href="/contacts">Contact Info</a>
            </div>
        </div>
    </div>
</div>
<!-- /footer -->

<!-- Script element sourcing TinyMCE tarek -->
<!-- <script type="application/javascript" src="/tinymce/tinymce.min.js"></script> -->

<!-- //// -->
<!-- akash account files add -->
<script src="https://cdn.tiny.cloud/1/kylxus236fcvcs0z1ncvjg0it5xqqzljg7wp08k51yh4rou5/tinymce/8/tinymce.min.js"
    referrerpolicy="origin" crossorigin="anonymous"></script>

<!-- Script element sourcing the TinyMCE configuration -->
<script type="application/javascript" src="/javascripts/my-tinymce-config.js"></script>