<!-- Main sidebar -->
<div class="sidebar sidebar-dark sidebar-main sidebar-expand-md">

    <!-- Sidebar mobile toggler -->
    <div class="sidebar-mobile-toggler text-center">
        <a href="#" class="sidebar-mobile-main-toggle">
            <i class="icon-arrow-left8"></i>
        </a>
        Navigation
        <a href="#" class="sidebar-mobile-expand">
            <i class="icon-screen-full"></i>
            <i class="icon-screen-normal"></i>
        </a>
    </div>
    <!-- /sidebar mobile toggler -->


    <!-- Sidebar content -->
    <div class="sidebar-content">

        <!-- Main navigation -->
        <div class="card card-sidebar-mobile">
            <ul class="nav nav-sidebar" data-nav-type="accordion">

                <li class="nav-item-header">
                    <div class="text-uppercase font-size-xs line-height-xs">Overview</div>
                    <i class="icon-menu" title="Overview"></i>
                </li>
                <li class="nav-item">
                    <a href="/dashboard" class="nav-link">
                        <span><i class="icon-home2 mr-2"></i>Dashboard</span>
                    </a>
                </li>

                <li class="nav-item-header">
                    <div class="text-uppercase font-size-xs line-height-xs">Event Management</div>
                    <i class="icon-calendar3" title="Event Management"></i>
                </li>
                <li class="nav-item">
                    <a href="/event" class="nav-link">
                        <span><i class="icon-calendar3 mr-2"></i>Event</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/event-registration" class="nav-link">
                        <span><i class="icon-pencil7 mr-2"></i>Event Registration</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/event-sponsor-registration" class="nav-link">
                        <span><i class="icon-users4 mr-2"></i>Event Sponsor Registration</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/event_sponsors" class="nav-link">
                        <span><i class="icon-medal mr-2"></i>Event Sponsors</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/event-invoice-settings" class="nav-link">
                        <span><i class="icon-file-text2 mr-2"></i>Event Invoice Setup</span>
                    </a>
                </li>

                <li class="nav-item-header">
                    <div class="text-uppercase font-size-xs line-height-xs">Member Management</div>
                    <i class="icon-users4" title="Member Management"></i>
                </li>
                <li class="nav-item">
                    <a href="/members" class="nav-link">
                        <span><i class="icon-user mr-2"></i>Member</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/expired_members" class="nav-link">
                        <span><i class="icon-user-block mr-2"></i>Expired Members</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/batch_session" class="nav-link">
                        <span><i class="icon-books mr-2"></i>Batch/Session</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/occupation" class="nav-link">
                        <span><i class="icon-briefcase mr-2"></i>Occupation</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/category" class="nav-link">
                        <span><i class="icon-list2 mr-2"></i>Category</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/designation" class="nav-link">
                        <span><i class="icon-certificate mr-2"></i>Designation</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/executive_committee" class="nav-link">
                        <span><i class="icon-people mr-2"></i>Executive Committee</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/donate_list" class="nav-link">
                        <span><i class="icon-gift mr-2"></i>Donate</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/forgot-password-smtp-settings" class="nav-link">
                        <span><i class="icon-envelop3 mr-2"></i>Forgot Password SMTP</span>
                    </a>
                </li>

                <li class="nav-item-header">
                    <div class="text-uppercase font-size-xs line-height-xs">Payments</div>
                    <i class="icon-credit-card2" title="Payments"></i>
                </li>
                <li class="nav-item">
                    <a href="/collection-payments" class="nav-link">
                        <span><i class="icon-wallet mr-2"></i>Collection of Payments</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/payment-settings" class="nav-link">
                        <span><i class="icon-lock2 mr-2"></i>SSL Setup</span>
                    </a>
                </li>
                <li class="nav-item-header">
                    <div class="text-uppercase font-size-xs line-height-xs">Website Content</div>
                    <i class="icon-display4" title="Website Content"></i>
                </li>
                <li class="nav-item">
                    <a href="/header-branding-settings" class="nav-link">
                        <span><i class="icon-image3 mr-2"></i>Header Branding</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/home_page" class="nav-link">
                        <span><i class="icon-home5 mr-2"></i>Home Page Item</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/home_slider" class="nav-link">
                        <span><i class="icon-images2 mr-2"></i>Home Slider</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/home_popup" class="nav-link">
                        <span><i class="icon-bubbles5 mr-2"></i>Home Popup</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/scrolling_news" class="nav-link">
                        <span><i class="icon-bubble-lines4 mr-2"></i>Scrolling News</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/notice_board" class="nav-link">
                        <span><i class="icon-clipboard3 mr-2"></i>Notice Board</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/programs" class="nav-link">
                        <span><i class="icon-stack2 mr-2"></i>Programs</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/publication" class="nav-link">
                        <span><i class="icon-newspaper mr-2"></i>News & Publication</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/youtube_video" class="nav-link">
                        <span><i class="icon-youtube mr-2"></i>YouTube Video</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/gallery" class="nav-link">
                        <span><i class="icon-images3 mr-2"></i>Gallery</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/job" class="nav-link">
                        <span><i class="icon-briefcase mr-2"></i>Job Post</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/donation_career" class="nav-link">
                        <span><i class="icon-tree7 mr-2"></i>Donation & Career</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/contacts" class="nav-link">
                        <span><i class="icon-address-book mr-2"></i>Contacts</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/footer-settings" class="nav-link">
                        <span><i class="icon-paragraph-justify3 mr-2"></i>Footer Settings</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/contact-settings" class="nav-link">
                        <span><i class="icon-address-book mr-2"></i>Contact Settings</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/faq-settings" class="nav-link">
                        <span><i class="icon-question4 mr-2"></i>FAQ Settings</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/terms-settings" class="nav-link">
                        <span><i class="icon-file-text2 mr-2"></i>Terms Settings</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/about_us_message" class="nav-link">
                        <span><i class="icon-info22 mr-2"></i>About Us Message</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/page" class="nav-link">
                        <span><i class="icon-file-plus mr-2"></i>Page</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/menu" class="nav-link">
                        <span><i class="icon-menu7 mr-2"></i>Menu</span>
                    </a>
                </li>

                <!-- /main -->
            </ul>
        </div>
        <!-- /main navigation -->

    </div>
    <!-- /sidebar content -->

</div>
<!-- /main sidebar -->
